.logo {
    text-decoration: none;
    color: white;
}

.logo:focus {
    outline: none;
}

.logo:active {
    background: none;
}

.logo__text {
    margin: 0;
}

.logo__text--color {
    color: var(--green);
}