.Logo {
    text-decoration: none;
    color: white;
}

.Logo:focus {
    outline: none;
}

.Logo:active {
    background: none;
}

.Logo h1 {
    margin: 0;
}

.Logo span {
    color: var(--green);
}