.browse {
    display: grid;
    min-height: 100vh;

    grid-template-columns: 250px auto 20%;
    grid-template-rows: auto 15%;
    grid-template-areas: "sidebar content friends"
                         "player player player";

    background-color: transparent;
}