.browse {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.browse__nav {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav__item {
    text-align: center;
    margin: 10px 15px;
}

.item__link {
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    transition: all 500ms;
}

.item__link:hover {
    color: white;
    text-decoration: none;
}

.item__link--active {
    color: white !important;
}

.item__link--active::after {
    content: "";
    background: var(--green);
    position: relative;
    display: block;
    top: 5px;
    margin: 0 auto;
    width: 30px;
    height: 3px;
}

@media (max-width: 400px) {
    .browse__nav {
        flex-direction: column;
    }
}