.footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.block__item {
    margin: 0 20px;
}

.block__link {
    text-decoration: none;
    color: white;
    transition: all 500ms;
}

.block__link:hover {
    color: var(--green);
}

.block__link:focus {
    outline: none;
}

.block__link:active {
    background: none;
}

@media(max-width: 499px) {
    .footer__block {
        flex-direction: column;
    }
}