.mobile__playlist {
    display: flex;

    flex-direction: column;
}

.mobile__playlist__info {
    padding: 20px;
}

.mobile__playlist__tracks {
    grid-area: tracks;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mobile__info__image {
    --size: 240px;
    width: var(--size);
    height: var(--size);
    display: block;
    margin: 0 auto;
}

.mobile__info__title {
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 0;
}

.mobile__info__font14 {
    font-size: 14px;
}

.mobile__info__owner {
    text-align: center;
    color: var(--text-color);
    margin: 5px;
}

.mobile__info__description {
    text-align: center;
    color: var(--text-color);
}

.mobile__info__tracksNumber {
    text-transform: uppercase;
    color: var(--text-color);
    text-align: center;
    letter-spacing: 2px;
}

.mobile__tracks__track {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    transition: all 200ms;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.mobile__tracks__track:hover {
    background: rgba(0,0,0,0.3);
}

.mobile__track__info {
    padding-right: 20px;
}

.mobile__track__name {
    font-weight: 400;
    width: 100%;
    margin: 5px 0;
    font-size: 14px;
}

.mobile__track__name--playing {
    color: var(--green) !important;
}

.mobile__track__artistsAlbum {
    font-size: 14px;
    margin: 0;
}

.mobile__artistsAlbum__separator {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    font-size: 6px;
}

.mobile__artistsAlbum__artists {
    list-style: none; 
    margin: 0; 
    padding: 0; 
    display: inline;
}

.mobile__artistsAlbum__item {
    color: var(--text-color);
    text-decoration: none;
    display: inline;
    transition: all 200ms;
}

.mobile__artistsAlbum__item:after {
    content: ', ';
    margin-right: 2px;
}

.mobile__artistsAlbum__item:last-child:after {
    content: '';
    margin-right: 0;
}

.mobile__track__duration {
    color: var(--text-color);
    font-size: 14px;
}