.HomePage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
}

.HomePage .Content {
    text-align: center;
    width: 40%;
}

.HomePage .Content h1 {
    color: var(--green);
    -webkit-animation: anim1 0.5s ease-in-out;
    animation: anim1 0.5s ease-in-out;
}

.HomePage .Content p,
.HomePage .Content button {
    -webkit-animation: anim2 1s ease-in-out;
    animation: anim2 1s ease-in-out;
}

.HomePage .Content button {
    border: 3px solid white;
    background: transparent;
    border-radius: 20px;
    padding: 10px 30px;
    margin: 20px 0px 50px 0px;
    color: white;
    font-size: 15px;
    transition: all 500ms;
}

.HomePage button:hover {
    cursor: pointer;
    color: var(--green);
    border-color: var(--green);
}

.HomePage button:focus {
    outline: none;
}

@media(max-width:999px) {
    .HomePage .Content {
        width: 90%;
    }

    .HomePage p {
        font-size: 15px;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes anim1 {
    from {
        transform: translateY(20px);
        opacity: 0;}
    to {
        transform: translateY(0px);
        opacity: 1;}
}

/* Standard syntax */
@keyframes anim1 {
    from {
        transform: translateY(20px);
        opacity: 0;}
    to {
        transform: translateY(0px);
        opacity: 1;}
}

@-webkit-keyframes anim2 {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    40% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes anim2 {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    40% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}