.player {
    display: grid;
    min-height: 100vh;

    grid-template-columns: 250px auto 20%;
    grid-template-rows: auto 15%;
    grid-template-areas: "sidebar content content"
                         "player player player";

    background-color: transparent;
}

.player__content {
    grid-area: content;
    overflow: hidden;
    overflow-y: scroll;
    padding: 20px 50px;
}