.Background {
    background: url('../../images/background.jpg');
    background-size: cover;

    z-index: -50;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.Background .Layer {
    background: #1db93f; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #667eea 0%, #764ba2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #667eea 0%,#764ba2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #536976 0%,#292E49 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#667eea', endColorstr='#764ba2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    opacity: 0.7;

    z-index: -49;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media(max-width: 799px) {
    .Background {
        background: none;
    }
}